<div id="customers" class="mainbox col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-2">
    <table st-table="customersCollection" class="table table-striped">
        <thead>
            <tr>
                <th>first name</th>
                <th>last name</th>
                <th>birth date</th>
                <th>balance</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in customersCollection">
                <td>{{row.firstName}}</td>
                <td>{{row.lastName}}</td>
                <td>{{row.birthDate}}</td>
                <td>{{row.balance}}</td>
                <td>{{row.email}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!-- /.page-content -->