<div class="table-container">
    <div style="margin:7px">
        <div class="col-xs-6">
            <div class="btn-group">
                <button class="btn btn-success"><span class="fa fa-user-plus"></span>&nbsp; Add new customer</button>
            </div>
        </div>
        <div class="col-xs-4 pull-right input-group">
            <input type="text" class="form-control" placeholder="Global search" ng-model="searchCustomers">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
    </div>
    <table st-table="customersCollection" class="table table-striped">

        <thead>
            <tr>
                <th>Action</th>
                <th><a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">Name
                    <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th><a href="#" ng-click="sortType = 'email'; sortReverse = !sortReverse">Email
                    <span ng-show="sortType == 'email' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'email' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </th>
                <th>Created</th>
                <th>admin</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="row in customersCollection | orderBy:sortType:sortReverse | filter:searchCustomers">
                <td>
                    <button type="button" class="btn btn-xs btn-primary">
                        <span class="fa fa-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" >
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
                <td>{{row.name}}</td>
                <td>{{row.email}}</td>
                <td>{{row.created}}</td>
                <td>{{row.admin}}</td>
            </tr>
        </tbody>

    </table>
</div>
<!-- /.page-content -->